<h1>Login</h1>

<div *ngIf="message" class="ui error message">{{message}}</div>

<form *ngIf="!authService.getUser()" class="ui form">
    <div class="field">
        <label for="username">User:</label>
        <input id="username" type="text" #username>
    </div>
    <div class="field">
        <label for="password">Password:</label>
        <input id="password" type="password" #password>
    </div>

    <a class="ui button" (click)="login(username.value, password.value)">Login</a>
</form>

<div *ngIf="authService.getUser()" class="ui raised segment">
   Logged in as <b> {{ authService.getUser() }} </b>
   <a href (click)="logout()">Log out</a> 
</div>